.cardsContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  min-width: 200px;
}

.card h4 {
  margin-top: 0;
  color: #666;
}

.card p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}

.receita {
  color: #28a745; /* Verde */
}

.despesa {
  color: #dc3545; /* Vermelho */
}

.chartsContainer {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.chart {
  flex: 1;
  min-width: 300px;
  max-width: 500px; /* Limita a largura do gráfico de pizza */
  margin: 0 auto;
}

.chart h3 {
  text-align: center;
  margin-bottom: 20px;
}
